<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712181852894-ibt7mc3d8jfcf4pvle0c95an5rapa5bn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712181852894-ibt7mc3d8jfcf4pvle0c95an5rapa5bn</string>
	<key>API_KEY</key>
	<string>AIzaSyCabl8IUC59oYu3Lur7ikolNMas-B8tQUs</string>
	<key>GCM_SENDER_ID</key>
	<string>712181852894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imageLabelling</string>
	<key>PROJECT_ID</key>
	<string>imagelabelproject-cfdaa</string>
	<key>STORAGE_BUCKET</key>
	<string>imagelabelproject-cfdaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712181852894:ios:0e64013fc66f00fd3c304f</string>
</dict>
</plist>